@page
@model WebApp.Pages_PaymentType.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PaymentType</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentType.TypeName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PaymentType.TypeName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.PaymentType.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
