@page
@model WebApp.Pages_Events.CreateModel

        @{
        ViewData["Title"] = "Create";
        }

<h1 xmlns="http://www.w3.org/1999/html">Create</h1>
        
    <h4>Event</h4>
    <hr />
    <div class="row">
    <div class="col-md-4">
    <form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Event.EventName" class="control-label"></label>
                <input asp-for="Event.EventName" class="form-control" />
                <span asp-validation-for="Event.EventName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.EventLocation" class="control-label"></label>
                <input asp-for="Event.EventLocation" class="form-control" />
                <span asp-validation-for="Event.EventLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.EventStartTime" class="control-label"></label>
                <input asp-for="Event.EventStartTime" class="form-control" />
                <span asp-validation-for="Event.EventStartTime" class="text-danger"></span>
                <span class="text-danger">@Model.ErrorMessage</span>
            </div>
            <div class="form-group">
                <label asp-for="Event.AdditionalInfo" class="control-label"></label>
                <textarea asp-for="Event.AdditionalInfo" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="../Index">Tagasi Avalehele</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
